@{
    ViewData["Title"] = "Автомобили  ";

}
 
   
    <img src="~/img/page-header-bg.jpg" class="img-fluid img-thumbnail" alt="..." />
             

       <div class="container">

           <div class="row d-flex justify-content-center">
               @foreach (ItemClass i in ViewBag.items)
               {

                   <div class="col-3 card mr-2">
                       <img src=@i.Picture class="card-img-top" alt="...">
                       <div class="card-body">
                           <h5 class="card-title">@i.Description</h5>
                           <p class="card-text">Цвет: @i.ColorC</p>
                           <p class="card-text"><small class="text-muted">@i.Price  $</small></p>
                       </div>
                   </div>
               }
           </div>
       </div>