@{
    ViewData["Title"] = "Автомобили  ";

}
   <head> 
    <link rel="stylesheet" href="~/css/site.css" />
   </head>
   <body>
       <div class="container-fluid">
           <div class="row">
               <div class="img-wrap">
                   <img src="~/img/page-header-bg.jpg" class="img-fluid img-thumbnail" alt="..." />
                   <h1>text</h1>
               </div>
           </div>
       </div>
   </body>